html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Tauri', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background-size: cover;
}

#main, #flashCover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#flashCover {
    background-color: #fff;
}

#weather-info {
    display: inline-block;
    float:left;
    width: 300px;
    position: relative;
    margin: 25px;
    padding: 10px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

#weather-info .wtrends
{
    display: block;
    margin-top: 20px;
    font-size: .8em;
    color: #fff;
    text-decoration: none;
}

#weather-info .temp {
    font-size: 6em;
    text-align: center;
}

#weather-info .temp:after {
    content: "˚";
}

#weather-info .desc, #time {
    font-size: 1.5em;
    text-align: center;
}

#searchContainer {
    display: inline-block;
    margin-top: 25px;
    right: 25px;
    width: 50%;
    min-width: 350px;
}

#searchContainer form {
    width: 100%;
}

#searchContainer input {
    float: left;
    width: 60%;
    border:none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#searchContainer button {
    display: inline-block;
    margin:0;
    width: auto;
    border: none;
    background-color: #fff;
    opacity: 0.75;
    font-size: 1.5em;
    padding: 10px;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-input-placeholder {
    color: rgba(0,0,0,0.8);
}
::-webkit-input-placeholder:after {
    content: '\2026'
}